
*{
    margin: 0;
    padding: 0;
      font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}
body{
    height: 300vh;
    background-color: rgb(235, 236, 237);
}
.span1{
    color: rgb(80, 125, 230);
    font-style:normal;
}
.nav1{
    background-color: rgb(15, 54, 109);
    height: 35px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.h22{
    font-size: 20px;
    text-align: left;
    margin-left: 600px;
    color: white; 
    position: relative; 
  bottom: 20px;
  right: 150px;
 
}
.div1{
    background-color: rgb(0, 170, 255);
    height: 35px;
    width: 134px;
    position:fixed;
    left: 880px;
    bottom: 565px;
}
.h33{
    font-size: 15px;
    position: relative;
    left: 40px;
    top: 8px;
}
.h34{
    grid-row:auto;
     background-color: rgb(0, 170, 255);
    height: 35px;
    width: 134px;
}


.button1{
    background-color: rgb(0, 157, 255);
    padding: 8px 30px;
    border: none;
    font-weight: bolder;
    font-size: 15px;
    padding-left: 25px;
    color: white;
    /* height: 36px; */

}
.button1:hover{
    cursor: pointer;
}
.fa-solid{
    font-size: 20px;
}
.responsives{
    display: inline-block;
    flex-direction: column;
    gap: 10px;
    justify-content: space-between;
    align-items: center;
    margin-left: 20px;

}
.h23{
     color: white;
     position: relative;
     right: 250px;
     font-size: 20px;
}
.fa-less-than {
    font-size: 10px;
}
.fa-greater-than{
    font-size: 10px;
}
.fa-share-from-square{
    font-size: 25px;
    margin-right: 5px;
    margin-top: 3px;
}
.fa-download{
    margin-right: 10px;
}
.navbar{
    background-color: rgb(255, 255, 255);
    width: 80vw;
    height: 80px;
    border-radius: 40px;
    box-shadow: 5px 5px rgb(225, 224, 224);
}
.bodySection{
    width: 100vw;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    
}
.button2{
    background-color: rgb(0, 145, 255);
    padding: 10px 20px;
    border-radius: 25px;
    border: none;
}
.ul1{
     list-style: none;
     display: flex;
     gap: 20px;
}
.navbar{
display: flex;
justify-content: space-around;
align-items: center;
}
.navaImage{
width: 200px;

}
.navaImag{
    width: 100%;

}
.navsection1{
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.secondSection{
    width: 100vw;
    margin-top: 100px;
    padding: 100px;
}
.gearDiv{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: rgb(75, 147, 255);
    width: 50%;
    padding: 15px;
    border-radius: 25px;
    
}
.parentDiv{
    display: flex;
    align-items: center;
    justify-content: center;
}
.firstChild{
        width: 100%;
}
.secondChild{
    width: 100%;
}
.grade2{
color: white;
    font-size: 18px;
}
.Maecenas{
    font-size: 70px;
}
.Vestibulum{
    color: rgb(0, 128, 255);
}
.image2{
    width: 100%;
}